[submodule "vue-storefront"]
	path = .docker/vue-storefront
	url = https://github.com/DivanteLtd/vue-storefront.git
[submodule "vue-storefront-api"]
	path = .docker/vue-storefront-api
	url = https://github.com/DivanteLtd/vue-storefront-api.git
[submodule ".docker/frontend/vsf-mapping-fallback"]
	path = .docker/frontend/vsf-mapping-fallback
	url = https://github.com/kodbruket/vsf-mapping-fallback.git
